services:
  # PostgreSQL - Shared database server
  postgres:
    image: postgres:18.1
    container_name: postgres-main
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    networks:
      - microservices-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Redis
  redis:
    image: redis:8.4.0
    container_name: redis-cache
    networks:
      - microservices-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  # API Gateway
  api-gateway:
    build: ./services/api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - AUTH_SERVICE_URL=http://auth-service:8081
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - JWT_SECRET=${JWT_SECRET}
      - INTERNAL_API_SECRET=${INTERNAL_API_SECRET}
    depends_on:
      redis:
        condition: service_healthy
      auth-service:
        condition: service_started
    networks:
      - microservices-network
      
  # Auth Service
  auth-service:
    build: ./services/auth-service
    container_name: auth-service
#    ports:
#      - "8081:8081" #tmp for test
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - DB_URL=jdbc:postgresql://postgres:5432/authdb
      - DB_USERNAME=auth_user
      - DB_PASSWORD=auth_pass
      - JWT_SECRET=${JWT_SECRET}
      - INTERNAL_API_SECRET=gateway-to-services-secret-123
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - microservices-network

  # Resource Service
  resource-service:
    build: ./services/resource-service
    container_name: resource-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - DB_URL=jdbc:postgresql://postgres:5432/resourcedb
      - DB_USERNAME=resource_user
      - DB_PASSWORD=resource_pass
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USERNAME=admin
      - RABBITMQ_PASSWORD=admin
      - INTERNAL_API_SECRET=${INTERNAL_API_SECRET}
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-network
      
networks:
  microservices-network:
    driver: bridge

volumes:
  postgres_data:
