server:
  port: 8085

spring:
  rabbitmq:
    host: ${RABBITMQ_HOST:rabbitmq}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:admin}
    password: ${RABBITMQ_PASSWORD:admin}

  mail:
    host: ${MAIL_HOST:mailhog}
    port: ${MAIL_PORT:1025}
